<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
    <defaultcontrol always="true">9100</defaultcontrol>
    <controls>
        <include condition="!Skin.HasSetting(global.showvideo)">Hidden_Video_Window</include>
        <include>Background_Global</include>

        <include>Furniture_Header</include>
        <include>Furniture_Header_Busy</include>
        <include>Furniture_Header_NowPlaying</include>
        <include condition="!Skin.HasSetting(show.clock.date.weather.home.only)">Furniture_Footer_Clock_Right</include>

        <control type="group">
            <include>Animation_Common</include>
            <include>Def_Dialog_Settings</include>

            <!-- MENU SETTINGS -->

            <control type="Panel" id="9100">
                <left>0</left>
                <width>1356</width>
                <top>0</top>
                <height>662</height>
                <orientation>horizontal</orientation>
                <itemlayout width="302" height="212">
                    <control type="image">
                        <left>10</left>
                        <top>10</top>
                        <bottom>0</bottom>
                        <width>290</width>
                        <texture colordiffuse="$VAR[Value_Color_Settings]" border="12">common/box.png</texture>
                    </control>
                    <control type="label">
                        <top>129</top>
                        <left>30</left>
                        <right>25</right>
                        <height>50</height>
                        <aligny>center</aligny>
                        <align>center</align>
                        <font>Small</font>
                        <textcolor>PanelWhite100</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="image">
                        <top>42</top>
                        <left>100</left>
                        <width>106.7</width>
                        <height>106.7</height>
                        <texture colordiffuse="PanelWhite100">$INFO[ListItem.Icon]</texture>
                    </control>
                </itemlayout>
                <focusedlayout width="302" height="212">
                    <control type="image">
                        <left>10</left>
                        <top>10</top>
                        <bottom>0</bottom>
                        <width>290</width>
                        <texture border="12">special://profile/addon_data/script.texturemaker/ArcticZephirRounded/box_h.png</texture>
                    </control>
                    <control type="label">
                        <top>129</top>
                        <left>30</left>
                        <right>25</right>
                        <height>50</height>
                        <aligny>center</aligny>
                        <align>center</align>
                        <font>Small</font>
                        <textcolor>PanelWhiteSetting</textcolor>
                        <label>$INFO[ListItem.Label]</label>
                    </control>
                    <control type="image">
                        <top>42</top>
                        <left>100</left>
                        <width>106.7</width>
                        <height>106.7</height>
                        <texture colordiffuse="PanelWhiteSetting">$INFO[ListItem.Icon]</texture>
                    </control>
                </focusedlayout>
                <content>
                    <item id="1">
                        <label>14206</label>
                        <label2>31242</label2>
                        <icon>special://skin/extras/icons/paintbrush.png</icon>
                        <onclick>ActivateWindow(InterfaceSettings)</onclick>
                    </item>
                    <item id="2">
                        <label>14202</label>
                        <label2>31243</label2>
                        <icon>special://skin/extras/icons/database.png</icon>
                        <onclick>ActivateWindow(MediaSettings)</onclick>
                    </item>
                    <item id="3">
                        <label>14200</label>
                        <label2>31244</label2>
                        <icon>special://skin/extras/icons/equalizer.png</icon>
                        <onclick>ActivateWindow(PlayerSettings)</onclick>
                    </item>
                    <item id="12">
                        <label>20077</label>
                        <label2>31142</label2>
                        <icon>special://skin/extras/icons/graphicinfo.png</icon>
                        <onclick>ActivateWindow(SkinSettings)</onclick>
                    </item>
                    <item id="8">
                        <label>13000</label>
                        <label2>31137</label2>
                        <icon>special://skin/extras/icons/sysinfo.png</icon>
                        <onclick>ActivateWindow(SystemSettings)</onclick>
                    </item>
                    <item id="7">
                        <label>14036</label>
                        <label2>31140</label2>
                        <icon>special://skin/extras/icons/networkinfo.png</icon>
                        <onclick>ActivateWindow(servicesettings)</onclick>
                    </item>
                    <item id="9">
                        <label>13200</label>
                        <label2>31141</label2>
                        <icon>special://skin/extras/icons/actor.png</icon>
                        <onclick>ActivateWindow(Profiles)</onclick>
                    </item>
                    <item id="4">
                        <label>24001</label>
                        <label2>31138</label2>
                        <icon>special://skin/extras/icons/network.png</icon>
                        <onclick>ActivateWindow(AddonBrowser)</onclick>
                    </item>
                    <item id="10">
                        <label>130</label>
                        <label2>31143</label2>
                        <icon>special://skin/extras/icons/info.png</icon>
                        <onclick>ActivateWindow(7)</onclick>
                    </item>
                    <item id="11">
                        <label>14204</label>
                        <label2>31139</label2>
                        <icon>special://skin/extras/icons/livetv.png</icon>
                        <onclick>ActivateWindow(pvrsettings)</onclick>
                    </item>
                    <item id="5">
                        <label>LibreELEC</label>
                        <label2>31329</label2>
                        <icon>special://skin/extras/icons/libreelec.png</icon>
                        <onclick>RunScript(service.libreelec.settings)</onclick>
                        <visible>System.HasAddon(service.libreelec.settings)</visible>
                    </item>
                    <item id="6">
                        <label>CoreELEC</label>
                        <label2>31330</label2>
                        <icon>special://skin/extras/icons/coreelec.png</icon>
                        <onclick>RunScript(service.coreelec.settings)</onclick>
                        <visible>System.HasAddon(service.coreelec.settings)</visible>
                    </item>
                    <item id="15">
                        <label>31667</label>
                        <label2>31668</label2>
                        <icon>special://skin/extras/icons/rectangle-list.png</icon>
                        <onclick>ActivateWindow(eventlog)</onclick>
                        <visible>!System.HasAddon(service.libreelec.settings) + !System.HasAddon(service.coreelec.settings)</visible>
                    </item>
                    <item id="14">
                        <label>$LOCALIZE[7]</label>
                        <label2>31588</label2>
                        <icon>special://skin/extras/icons/filemanager.png</icon>
                        <onclick>ActivateWindow(filemanager)</onclick>
                    </item>
                </content>
            </control>

            <!-- LINE VERTICAL -->

            <include content="Def_Dialog_Line_Vertical"><param name="top" value="17" /><param name="right" value="542" /></include>

            <!-- DESCRIPTION ON RIGHT-->

            <control type="group">
                <top>10</top>
                <bottom>10</bottom>
                <right>10</right>
                <left>1220</left>
                <control type="textbox">
                    <top>30</top>
                    <bottom>30</bottom>
                    <right>30</right>
                    <left>30</left>
                    <align>left</align>
                    <font>Tiny</font>
                    <textcolor>PanelWhite100</textcolor>
                    <label>$INFO[Container(9100).ListItem.Label2]</label>
                </control>
            </control>
        </control>
    </controls>
</window>
